@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('/assets/gui/Nunito-Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght');
    src: url('/assets/gui/Nunito-Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght');
}
